# COLLATING DATA

In [1]:
import sqlalchemy
import psycopg2
import pandas as pd

# DSN (data source name) format for database connections:  
# [protocol / database  name]://[username]:[password]@[hostname / ip]:[port]/[database name here]


# on your computer you are the user postgres (full administrative access)
db_user = 'postgres'
# if you need a password to access a database, put it here
db_password = ''
# on your computer, use localhost
db_host = 'localhost'
# the default port for postgres is 5432
db_port = 5432
# we want to creat a database with the following name
database = 'final_db'
# #set up a connection to postgres without specifying the database
# conn_postgres = f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}'

In [44]:
# # create an sqlalchemy connection
# engine = sqlalchemy.engine.create_engine(conn_postgres)

# # connect using sqlalchemy
# connection = engine.connect()

In [ ]:
# # create database
# connection.execute(f"create database {database}")

In [45]:
# # close connection
# connection.close()

In [5]:
# open a new connection to the database that we created
conn_str = f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{database}'
conn = psycopg2.connect(conn_str)

# connect using sqlalchemy
engine = sqlalchemy.engine.create_engine(conn_str)

# connect using sqlalchemy
connection = engine.connect()

In [ ]:
# data = pd.read_csv('../.csv')
# data.drop(columns = 'Unnamed: 0', inplace=True)
# data.columns = ['{}_{}'.format('br', col.lower()) for col in data.columns]
# data.columns = ['{}_{}'.format('nba', col.lower()) for col in data.columns]


# # def min_converter(x):
#     try:
#         y = x.split(':')
#         y_secs = int(y[0])*60 + int(y[1])
#         return y_secs
#     except:
#         return 0

# data.nba_min = data.nba_min.apply(min_converter)


# data.nba_game_id = data.nba_game_id.apply(lambda x: str(x))
# data.nba_team_id = data.nba_team_id.apply(lambda x: str(x))
# data.nba_season_id = data.nba_season_id.apply(lambda x: str(x))
# data.nba_person_id = data.nba_person_id.apply(lambda x: str(x))
# data.nba_height = data.nba_height.apply(ht_converter)
# data.nba_weight = data.nba_weight.apply(ht_converter)
# data.nba_birthdate = data.nba_birthdate.apply(lambda x: x[:10])
# data.nba_from_year = data.nba_from_year.apply(lambda x: int(x))
# data.nba_from_year = data.nba_from_year.apply(lambda x: int(x))

# import unidecode

# data['br_name'] = data['br_name'].apply(lambda x: unidecode.unidecode(x))
# data['br_location'] = data['br_location'].apply(lambda x: x.replace('Location.', ''))
# data['br_outcome'] = data['br_outcome'].apply(lambda x: x.replace('Outcome.','')[0])
# data['br_team'] = data['br_team'].map(lambda x: abbr_dict[x.replace('Team.','').replace('_', ' ')])
# data['br_opponent'] = data['br_opponent'].map(lambda x: abbr_dict[x.replace('Team.','').replace('_', ' ')])
# data['br_slug'] = data['br_slug'].map(lambda x: key_changer[x] if key_changer[x]!='None' else x)

# print(data.info())
# data.head()

# data.to_sql(name = '...', con = engine, if_exists = 'replace', index = False)

In [16]:
query = """
SELECT DISTINCT(a.br_player), b.nba_display_first_last, b.nba_person_id, a.br_birth_date, c.br_slug
FROM br_attrs_peryear a
LEFT JOIN(
SELECT REPLACE(nba_display_first_last, ' Jr.', '') nba_player, nba_display_first_last, nba_person_id, nba_birthdate
FROM nba_common_attr) b
ON (a.br_birth_date = b.nba_birthdate AND 
REPLACE(a.br_player, ' Jr.','') = b.nba_player)
OR (a.br_birth_date = b.nba_birthdate AND 
REPLACE(a.br_player, '.','') = REPLACE(b.nba_display_first_last, '.',''))
OR (a.br_birth_date = b.nba_birthdate AND 
REPLACE(a.br_player, '.','') = REPLACE(b.nba_display_first_last, ' III',''))
OR (a.br_birth_date = b.nba_birthdate AND 
REPLACE(a.br_player, '.','') = REPLACE(b.nba_display_first_last, ' II',''))
LEFT JOIN(
SELECT DISTINCT(br_slug), br_name
FROM br_tra_box) c
ON (REPLACE(a.br_player, ' Jr.','') = REPLACE(c.br_name, ' Jr.',''))
"""

df = pd.read_sql(query, con=conn)

In [17]:
df[(df['br_player'].duplicated(keep=False))&
   (df['br_birth_date'].duplicated(keep=False))].sort_values(by=['br_player','br_birth_date'])

,br_player,nba_display_first_last,nba_person_id,br_birth_date,br_slug
936,Chris Johnson,None,None,1985-07-15,johnsch03
1979,Chris Johnson,None,None,1985-07-15,johnsch04
38,Chris Johnson,Chris Johnson,203187,1990-04-29,johnsch04
1641,Chris Johnson,Chris Johnson,203187,1990-04-29,johnsch03
610,Chris Wright,Chris Wright,202874,1988-09-30,wrighch02
921,Chris Wright,Chris Wright,202874,1988-09-30,wrighch01
185,Chris Wright,Chris Wright,203203,1989-11-04,wrighch01
589,Chris Wright,Chris Wright,203203,1989-11-04,wrighch02
1056,Dee Brown,Dee Brown,244,1968-11-29,brownde01
1526,Dee Brown,Dee Brown,244,1968-11-29,brownde03
719,Dee Brown,Dee Brown,200793,1984-08-17,brownde01
866,Dee Brown,Dee Brown,200793,1984-08-17,brownde03
1534,Gary Payton,Gary Payton,56,1968-07-23,paytoga01
1609,Gary Payton,Gary Payton,56,1968-07-23,paytoga02
52,Gary Payton,Gary Payton II,1627780,1992-12-01,paytoga02
1294,Gary Payton,Gary Payton II,1627780,1992-12-01,paytoga01
481,Gary Trent,Gary Trent,718,1974-09-22,trentga01
2020,Gary Trent,Gary Trent,718,1974-09-22,trentga02
985,Gary Trent,Gary Trent Jr.,1629018,1999-01-18,trentga01
1619,Gary Trent,Gary Trent Jr.,1629018,1999-01-18,trentga02
1614,Gary Trent Jr.,Gary Trent Jr.,1629018,1999-01-18,trentga01
1904,Gary Trent Jr.,Gary Trent Jr.,1629018,1999-01-18,trentga02
351,Glen Rice,Glen Rice,779,1967-05-28,ricegl02
1444,Glen Rice,Glen Rice,779,1967-05-28,ricegl01
1068,Glen Rice,Glen Rice,203318,1991-01-01,ricegl01
1912,Glen Rice,Glen Rice,203318,1991-01-01,ricegl02
934,Glenn Robinson,Glenn Robinson,299,1973-01-10,robingl01
1640,Glenn Robinson,Glenn Robinson,299,1973-01-10,robingl02
996,Glenn Robinson,Glenn Robinson III,203922,1994-01-08,robingl02
1961,Glenn Robinson,Glenn Robinson III,203922,1994-01-08,robingl01
950,Jaren Jackson,Jaren Jackson,1114,1967-10-27,jacksja01
1817,Jaren Jackson,Jaren Jackson,1114,1967-10-27,jacksja02
1848,Jaren Jackson,Jaren Jackson Jr.,1628991,1999-09-15,jacksja01
2149,Jaren Jackson,Jaren Jackson Jr.,1628991,1999-09-15,jacksja02
1115,Jaren Jackson Jr.,Jaren Jackson Jr.,1628991,1999-09-15,jacksja01
1264,Jaren Jackson Jr.,Jaren Jackson Jr.,1628991,1999-09-15,jacksja02
1597,Marcus Williams,Marcus Williams,200766,1985-12-03,willima04
1623,Marcus Williams,Marcus Williams,200766,1985-12-03,willima03
1184,Marcus Williams,Marcus Williams,201173,1986-11-18,willima04
1731,Marcus Williams,Marcus Williams,201173,1986-11-18,willima03
210,Mike James,Mike James,2229,1975-06-23,jamesmi02
612,Mike James,Mike James,2229,1975-06-23,jamesmi01
715,Mike James,Mike James,1628455,1990-08-18,jamesmi02
1560,Mike James,Mike James,1628455,1990-08-18,jamesmi01
235,Patrick Ewing,Patrick Ewing,121,1962-08-05,ewingpa02
1512,Patrick Ewing,Patrick Ewing,121,1962-08-05,ewingpa01
39,Patrick Ewing,Patrick Ewing,201607,1984-05-20,ewingpa02
1835,Patrick Ewing,Patrick Ewing,201607,1984-05-20,ewingpa01
537,Tim Hardaway,Tim Hardaway,896,1966-09-01,hardati01
1419,Tim Hardaway,Tim Hardaway,896,1966-09-01,hardati02
1506,Tim Hardaway,Tim Hardaway Jr.,203501,1992-03-16,hardati02
1678,Tim Hardaway,Tim Hardaway Jr.,203501,1992-03-16,hardati01
277,Tim Hardaway Jr.,Tim Hardaway Jr.,203501,1992-03-16,hardati01
1646,Tim Hardaway Jr.,Tim Hardaway Jr.,203501,1992-03-16,hardati02
1169,Tony Mitchell,Tony Mitchell,203183,1989-08-07,mitchto03
1314,Tony Mitchell,Tony Mitchell,203183,1989-08-07,mitchto02
702,Tony Mitchell,Tony Mitchell,203502,1992-04-07,mitchto02
986,Tony Mitchell,Tony Mitchell,203502,1992-04-07,mitchto03

In [18]:
duplicates = [1979,1641,610,185,1526,719,1609,1294,2020,985,1614,1904,
             351,1068,1640,1961,1817,1848,1115,1264,1597,1731,210,1560,
             235,1835,1419,1506,1678,277,1169,702]

df.drop(duplicates, inplace=True)

In [20]:
to_be_fixed = df[(df.nba_person_id.isna())]

df.drop(to_be_fixed.index, inplace=True)

In [26]:
df[df.nba_person_id.duplicated(keep=False)].sort_values(by='br_slug')

,br_player,nba_display_first_last,nba_person_id,br_birth_date,br_slug
459,Marvin Bagley,Marvin Bagley III,1628963,1999-03-14,baglema01
247,Troy Brown,Troy Brown Jr.,1628972,1999-07-28,browntr01
1934,Troy Brown Jr.,Troy Brown Jr.,1628972,1999-07-28,browntr01
37,Wendell Carter,Wendell Carter Jr.,1628976,1999-04-16,cartewe01
704,Wendell Carter Jr.,Wendell Carter Jr.,1628976,1999-04-16,cartewe01
1707,Derrick Jones,Derrick Jones Jr.,1627884,1997-02-15,jonesde02
2063,Derrick Jones Jr.,Derrick Jones Jr.,1627884,1997-02-15,jonesde02
44,Larry Nance,Larry Nance Jr.,1626204,1993-01-01,nancela02
500,Larry Nance Jr.,Larry Nance Jr.,1626204,1993-01-01,nancela02
100,Kelly Oubre Jr.,Kelly Oubre Jr.,1626162,1995-12-09,oubreke01
223,Kelly Oubre,Kelly Oubre Jr.,1626162,1995-12-09,oubreke01
52,Gary Payton,Gary Payton II,1627780,1992-12-01,paytoga02
996,Glenn Robinson,Glenn Robinson III,203922,1994-01-08,robingl02
1476,Dennis Smith Jr.,Dennis Smith Jr.,1628372,1997-11-25,smithde03
1635,Dennis Smith,Dennis Smith Jr.,1628372,1997-11-25,smithde03
245,Gary Payton II,Gary Payton II,1627780,1992-12-01,None
584,Glenn Robinson III,Glenn Robinson III,203922,1994-01-08,None
1954,Marvin Bagley III,Marvin Bagley III,1628963,1999-03-14,None

In [27]:
duplicates_cont = [247,37,1707,44,223,245,584,1954,1635]

df.drop(duplicates_cont, inplace=True)

In [37]:
df[df.isna()==False]

,br_player,nba_display_first_last,nba_person_id,br_birth_date,br_slug
0,Erik McCree,Erik McCree,1628571,1993-12-20,mccreer01
1,Chris Douglas-Roberts,Chris Douglas-Roberts,201604,1987-01-08,douglch01
2,Alex Poythress,Alex Poythress,1627816,1993-09-06,poythal01
3,Darrell Arthur,Darrell Arthur,201589,1988-03-25,arthuda01
4,Ron Harper,Ron Harper,166,1964-01-20,harpero01
...,...,...,...,...,...
2145,Jermareo Davidson,Jermareo Davidson,201176,1984-11-15,davidje01
2146,Dedric Willoughby,Dedric Willoughby,2000,1974-05-27,willode01
2147,Ndudi Ebi,Ndudi Ebi,2569,1984-06-18,ebind01
2148,Giannis Antetokounmpo,Giannis Antetokounmpo,203507,1994-12-06,antetgi01
2149,Jaren Jackson,Jaren Jackson Jr.,1628991,1999-09-15,jacksja02

In [62]:
player_keys = dict(zip(df.br_slug, df.nba_person_id))

In [ ]:
to_be_fixed = df[df.nba_person_id.isna()

In [56]:

player_keys['smithst01'] = '200848'
player_keys['weathcl01'] = '221'
player_keys['austiis01'] = '1134'
player_keys['jacksra02'] = '1872'
player_keys['jonesch03'] = '1869'
player_keys['spencfe01'] = '280'
player_keys['thomaja01'] = '1975'
player_keys['grayde01'] = '1070'
player_keys['jamesti01'] = '1906'
player_keys['roberry01'] = '204040'
player_keys['hamilze01'] = '1985'
player_keys['bagarda01'] = '2053'
player_keys['medvest01'] = '2098'
player_keys['pankoan01'] = '1950'
player_keys['ndiayma02'] = '2050'
player_keys['vanteda01'] = '2128'
player_keys['zhizhwa01'] = '1917'
player_keys['garnech01'] = '1612'
player_keys['dalemsa01'] = '2223'
player_keys['richama01'] = '1627781'
player_keys['richano01'] = '2369'
player_keys['fontais01'] = '1829'
player_keys['jaricma01'] = '2060'
player_keys['murraro01'] = '2436'
player_keys['rentzef01'] = '981'
player_keys['maddoti01'] = '2423'
player_keys['bastoma01'] = '1766'
player_keys['sweetmi01'] = '2552'
player_keys['kaponja01'] = '2574'
player_keys['fullehi01'] = '2673'
player_keys['ramospe01'] = '2762'
player_keys['mbengdj01'] = '2788'
player_keys['kutluib01'] = '2825'
player_keys['seungha01'] = '2775'
player_keys['ndongbo01'] = '101238'
player_keys['burleke01'] = '101207'
player_keys['thompdi01'] = '101159'
player_keys['schenlu01'] = '101195'
player_keys['carnero01'] = '200760'
player_keys['armsthi01'] = '200758'
player_keys['spanova01'] = '2779'
player_keys['glynian01'] = '2601'
player_keys['richaje01'] = '200978'
player_keys['karlco01'] = '201207'
player_keys['yuesu01'] = '201180'
player_keys['ukicro01'] = '101146'
player_keys['huntech01'] = '201805'
player_keys['jetereu01'] = '200817'
player_keys['ndiayha01'] = '202380'
player_keys['uzohbe01'] = '202386'
player_keys['johnsch03'] = '202419'
player_keys['johnsch04'] = '203187'
player_keys['morrima03'] = '202694'
player_keys['macklve01'] = '202731'
player_keys['thomptr02'] = '202717'
player_keys['teletmi01'] = '203141'
player_keys['datomlu01'] = '203540'
player_keys['cooleja01'] = '204022'
player_keys['baldwwa01'] = '1627735'
player_keys['princta02'] = '1627752'
player_keys['anigbik01'] = '1628387'
player_keys['huntevi01'] = '1626205'
player_keys['johnsom01'] = '204179'
player_keys['edwarvi01'] = '1629053'
player_keys['walkelo01'] = '1629022'
player_keys['creekmi01'] = '1628249'
player_keys['robinju01'] = '1629620'
player_keys['kiddst01'] = '1629742'
player_keys['norveza01'] = '1629668'
player_keys['brownch02'] = '1629718'
player_keys['pondssh01'] = '1629044'
player_keys['mikaer01'] = '1628450'
player_keys['boldema01'] = '1629716'
player_keys['newmama01'] = '1629005'

In [57]:
query = """
SELECT *
FROM br_tra_box
"""

data = pd.read_sql(query, con=conn)

data.br_slug = data.br_slug.map(player_keys)

In [58]:
list(data[data.br_slug.isna()]['br_name'].unique())

[]

In [59]:
data[data.br_slug.isna()]

Empty DataFrame
Columns: [br_slug, br_name, br_team, br_location, br_opponent, br_outcome, br_seconds_played, br_made_field_goals, br_attempted_field_goals, br_made_three_point_field_goals, br_attempted_three_point_field_goals, br_made_free_throws, br_attempted_free_throws, br_offensive_rebounds, br_defensive_rebounds, br_assists, br_steals, br_blocks, br_turnovers, br_personal_fouls, br_game_score, br_date]
Index: []

[0 rows x 22 columns]

In [60]:
data.to_sql(name = 'brid_tra_box', con = engine, if_exists = 'replace', index = False)

In [61]:
conn.commit()

In [ ]:
# close connection
connection.close()